/* here neeeeeeeeeewwwwwwwwwwwww */
@keyframes fadeInDown {
        0% {
                opacity: 0;
                transform: translate3d(0, -10%, 0);
        }
        to {
                opacity: 1;
                transform: translateZ(0);
        }
}

@keyframes fadeInUp {
        0% {
                opacity: 1;
                transform: translate3d(0, 100%, 0);
        }
        to {
                opacity: 1;
                transform: translateZ(0);
        }
}

@keyframes fadeOutDown {
        0% {
                opacity: 1;
                transform: translateZ(0);
        }
        to {
                opacity: 0;
                transform: translate3d(0, 10%, 0);
        }
}

#login-icon {
        background-image :url("../icon/user_icon.png");
        background-color:rgba(255, 255, 255, 0.5);
        background-size:100%;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 260px;
        height: 260px;
}

#login-form {
    flex: 1;
    padding-top: 20vh;
    align-items: center;
    flex-direction: column;
    height:80vh;
    color:white;
    font-size:40px;
    animation: fadeInDown 1s;
}

#login-page{
        height:100vh;
}

#login-input{
        display: flex;
        flex-direction: row;
        border-radius: 50%;
}

#login-clock {
        position: absolute;
        display: grid;
        bottom: 30px;
        left:10px;
        font-size:80px;
        color:white;
}

#main-page{
        height:100vh;
        background-size:100%;
        color:white;
        font-size:40px;
}

#login-input input {
        color: gray;
        background-color: white;
        border-style:hidden;
        height: 30px;
        border-radius: 10px;
        margin:5px;
}

#login-input input::placeholder {
        font-family: 'Open Sans', sans-serif;
        color: gray;
}

#login-input input:focus {
    outline:none;
}

#login-input #login-enter{
        background-color: rgba(255, 255, 255, 0);
        background-image: url('../icon/login_arrow.png');
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 0px;
        width: 30px;
}

#manu-bar{
        display: flex;
        position: fixed;
        bottom: 0;
        height: 40px;
        width:100vw;
        background-color:rgb(52, 68, 83);
}

#main-clock{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        height: 40px;
        right: 5px;
        font-size:13px;
        cursor: default;
}

#logout{
        display: flex;
        align-items: center;
        justify-content: center;
        height:40px;
        width:40px;
}

#logout img{
	height:50%;
}

#todo-input{
        display: flex;
        height: 40px;
}

#todo-input input {
        color: gray;
        background-color: white;
        border-style:hidden;
        height: 40px;
        width:400px;
        padding: 0;
}

#todo-input input::placeholder {
        font-family: 'Open Sans', sans-serif;
        color: gray;
}

#todo-input input:focus {
    outline:none;
}

#todo-container{
        position: absolute;
        bottom: 40px;
        left:40px;
        background-color:dimgray;
        width:600px;
        height:600px;
        transition-duration: 1s;
        overflow-y: scroll;
}

.hidden{
        display:none;
}

.weather-icon{
        display:flex;
        align-items: center;
        justify-content: center;
}

#weather-box{
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:15px;
}

#app-container{
        display:flex;
        flex-direction: column;
}

.icons{
        width:60px;
        height: 60px;
        cursor: pointer;
        margin:10px;
}

#youtube img {
        content:url("../icon/youtube.png");
        height: 100%;
}

#calender-icon img {
        content:url("../icon/calender.png");
        height: 100%;
}

#calender {
        position: absolute;
        width:360px;
        height:500px;
        background-color: white;
        color:black;
}

.sec_cal {
        width: 360px;
        margin: 0 auto;
        font-family: "NotoSansR";
}

.sec_cal .cal_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 78px;
}
    
.sec_cal .cal_nav .year-month {
        width: 300px;
        text-align: center;
        line-height: 1;
}
    
.sec_cal .cal_nav .nav {
        display: flex;
        border: 1px solid #333333;
        border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
        display: block;
        width: 50px;
        height: 78px;
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 3px solid #000;
        border-width: 3px 3px 0 0;
        transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
        border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
        transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
        transform: rotate(45deg);
}

.sec_cal .cal_wrap {
        padding-top: 40px;
        position: relative;
        margin: 0 auto;
}

.sec_cal .cal_wrap .days {
        display: flex;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
        top: 368px;
}

.sec_cal .cal_wrap .day {
        display:flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 7);
        text-align: left;
        color: #999;
        font-size: 12px;
        text-align: center;
        border-radius:5px
}

.current.today {background: rgb(242 242 242);}
    
.sec_cal .cal_wrap .dates {
        display: flex;
        flex-flow: wrap;
        height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
        color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
        color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
        color: #ddd;
}

.close-box{
        display: grid;
        height: 40px;
}

.close{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
}

.close img{
        display: grid;
        content: url('../icon/close.png');
        height: 80%;
        width: 80%;
}

body{
        margin:0;
}